.header {
  position: relative;
  color: white;
  text-align: center;
  height: 100vh;
  h1 {
    padding: 25vh 0 10vh;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.7rem;
    @media screen and (min-width: 550px) {
      font-size: 2.5rem;
      @media screen and (min-width: 850px) {
        font-size: 3.2rem;
      }
    }
  }
  p {
    font-style: italic;
    @media screen and (min-width: 550px) {
      font-size: 0.95rem;
      @media screen and (min-width: 850px) {
        font-size: 1.05rem;
      }
    }
  }
  #headerbotton {
    a {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      margin: 70px auto 0;
      padding: 25px;
      font-size: 0.9rem;
      @media screen and (min-width: 550px) {
        border: 1.8px solid;
        padding: 35px;
        font-size: 1.25rem;
      }
    }
  }
  nav {
    position: absolute;
    bottom: 0;
    display: flex;
    background: rgba(226, 226, 226, 0.3);
    width: 100%;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      @media screen and (max-width: 850px) {
        width: 100%;
      }
      li {
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.5rem;
        padding: 25px 10px;
        @media screen and (min-width: 550px) {
          font-size: 0.7rem;
        }

        &:hover {
          background: whitesmoke;
          color: black;
        }
      }
    }
    #netwokrs-nav {
      width: 30%;
      a {
        color: white;
      }
      @media screen and (max-width: 850px) {
        display: none;
      }
    }
  }
}
