.home {
  background: white;
  text-align: center;
  justify-content: center;
  padding: 5vh 10vw 0;
  .welcom {
    h4 {
      font-family: font2;
      margin: 30px 0;
      &::before {
        content: "";
        position: absolute;
        height: 1.5px;
        width: 15%;
        background: rgba(0, 0, 0, 0.2);
        left: 15vw;
        transform: translateY(7.5px);
      }

      &::after {
        content: "";
        position: absolute;
        height: 1.5px;
        width: 15%;
        background: rgba(0, 0, 0, 0.2);
        right: 15vw;
        transform: translateY(7.5px);
      }
    }
    H2 {
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 30px;
    }
    p {
      line-height: 2.5rem;
      width: 75%;
      margin: 0 auto;
      font-style: italic;
      font-size: 0.8rem;
    }
  }
}
