.main {
  width: 80%;
  margin: 0 auto;
  background: whitesmoke;
  text-align: center;
  justify-content: center;

  p {
    font-family: font2;
  }

  .main-intro {
    padding: 0 20px;

    .date {
      padding: 60px 30px;

      h3 {
        font-family: font2;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 20%;
          background: rgba(0, 0, 0, 0.2);
          top: 50%;
          left: -7%;
        }

        &::after {
          content: "";
          position: absolute;
          height: 2px;
          width: 20%;
          background: rgba(0, 0, 0, 0.2);
          top: 50%;
          right: -7%;
        }
      }
    }

    .descrip {

      h2 {
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 30px;
      }

      p {
        line-height: 2.5rem;
        width: 65%;
        margin: 0 auto;
        font-style: italic;
        font-size: 0.8rem;
      }

      .bg-descrip {
        background: url(../../images/pic01.jpg) center/cover;
        height: 180px;
        margin: 30px 10px;
      }
    }
  }

  .main-more {
    padding: 80px 20px 0;
    position: relative;

    h4 {
      font-family: font2;
      margin: 30px;
    }

    h3 {
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 30px;
    }

    p {
      font-size: 0.8rem;
      margin: 0 20px;
      text-align: left;
      line-height: 1.8rem;
    }

    .first {
      h4 {
        &::before {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          background: rgba(0, 0, 0, 0.2);
          top: 0;
          left: 0;

        }
      }

      .img-content {
        background: url(../../images/pic02.jpg) center/cover;
        height: 150px;
        margin: 30px 20px;
      }
    }

    .second {
      .img-content {
        background: url(../../images/pic03.jpg) center/cover;
        height: 150px;
        margin: 30px 20px;
      }
    }
  }

}