* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: font1;
  src: url(../../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: font2;
  src: url(../../fonts/Merriweather-Light.ttf);
}

body {
  background: url(/assets/images/bg.jpg) fixed center/cover;
  font-family: font1;
  color: rgb(15, 15, 15);
}

.main {
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 10vh;
}

p {
  font-family: font2;
  font-size: 0.8rem;
}

img {
  width: 250px;
}
