* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: font1;
  src: url(../../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: font2;
  src: url(../../fonts/Merriweather-Light.ttf);
}

body {
  background: url(/assets/images/bg.jpg) center/cover fixed;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: font1;
  color: rgb(15, 15, 15);
}

.main {
  background: none;
  width: 80vw;
  margin: 0 auto;
}

button {
  border: 1.5px solid black;
  background: none;
  padding: 15px 35px;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 0.7rem;
  transition: 0.2s;
  color: black;
}
button:hover {
  cursor: pointer;
  background: whitesmoke;
}

p {
  font-family: font2;
  font-size: 0.8rem;
}

img {
  width: 250px;
}
