* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: font1;
  src: url(../../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: font2;
  src: url(../../fonts/Merriweather-Light.ttf);
}
body {
  color: rgb(15, 15, 15);
}
body::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../../images/bg.jpg) no-repeat center/cover;
}

.main {
  width: 80vw;
  margin: 0 auto;
}

button {
  border: 1.5px solid black;
  background: none;
  padding: 15px 35px;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 0.7rem;
  transition: 0.2s;
  color: black;
}

button:hover {
  cursor: pointer;
  background: whitesmoke;
}

p {
  font-family: font2;
  font-size: 0.8rem;
}

.header {
  position: relative;
  color: white;
  text-align: center;
  height: 100vh;
}
.header h1 {
  padding: 25vh 0 10vh;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.7rem;
}
@media screen and (min-width: 550px) {
  .header h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 550px) and (min-width: 850px) {
  .header h1 {
    font-size: 3.2rem;
  }
}
.header p {
  font-style: italic;
}
@media screen and (min-width: 550px) {
  .header p {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 550px) and (min-width: 850px) {
  .header p {
    font-size: 1.05rem;
  }
}
.header #headerbotton a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 70px auto 0;
  padding: 25px;
  font-size: 0.9rem;
}
@media screen and (min-width: 550px) {
  .header #headerbotton a {
    border: 1.8px solid;
    padding: 35px;
    font-size: 1.25rem;
  }
}
.header nav {
  position: absolute;
  bottom: 0;
  display: flex;
  background: rgba(226, 226, 226, 0.3);
  width: 100%;
  justify-content: space-between;
}
.header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 850px) {
  .header nav ul {
    width: 100%;
  }
}
.header nav ul li {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.5rem;
  padding: 25px 10px;
}
@media screen and (min-width: 550px) {
  .header nav ul li {
    font-size: 0.7rem;
  }
}
.header nav ul li:hover {
  background: whitesmoke;
  color: black;
}
.header nav #netwokrs-nav {
  width: 30%;
}
.header nav #netwokrs-nav a {
  color: white;
}
@media screen and (max-width: 850px) {
  .header nav #netwokrs-nav {
    display: none;
  }
}

.home {
  background: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.home .welcom-container {
  padding: 5vh 10vw 0;
  position: relative;
}
.home .welcom-container .welcom h4 {
  font-family: font2;
  margin: 30px 0;
}
.home .welcom-container .welcom h4::before {
  content: "";
  position: absolute;
  height: 1.3px;
  width: 20%;
  background: rgba(0, 0, 0, 0.2);
  left: 5vw;
  transform: translateY(8.5px);
}
.home .welcom-container .welcom h4::after {
  content: "";
  position: absolute;
  height: 1.3px;
  width: 20%;
  background: rgba(0, 0, 0, 0.2);
  right: 5vw;
  transform: translateY(8.5px);
}
.home .welcom-container .welcom H2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
}
.home .welcom-container .welcom p {
  line-height: 2.5rem;
  width: 75%;
  margin: 0 auto;
  font-style: italic;
  font-size: 0.8rem;
}
.home .welcom-container .welcom img {
  width: 100%;
  margin: 30px auto;
}
.home .items-container {
  padding: 5vh 10vw 0;
  position: relative;
}
.home .items-container .items {
  margin-top: 60px;
}
.home .items-container .items::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 40px;
}
.home .items-container .items .items-box {
  margin-bottom: 20px;
}
.home .items-container .items .items-box h5 {
  font-family: font2;
  margin: 30px 0;
}
.home .items-container .items .items-box h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 15px;
}
.home .items-container .items .items-box img {
  width: 90%;
  margin: 20px 0;
}
.home .items-container .items .items-box p {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 10px;
  line-height: 1.8rem;
}
.home .items-container .items .items-box .iright button {
  margin-bottom: 50px;
}

footer {
  background: whitesmoke;
}
footer .footer-main {
  margin: 30px auto 60px;
  padding-top: 50px;
  width: 80%;
}
footer form {
  display: grid;
  row-gap: 15px;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgba(87, 87, 87, 0.826);
}
footer form input {
  background: none;
  border: 0.5px solid gray;
  border-radius: 3px;
  height: 40px;
}
footer form textarea {
  resize: none;
  background: none;
  border: 0.5px solid gray;
  border-radius: 3px;
}
footer form input[type=submit] {
  border: 1.5px solid gray;
  border-radius: 0;
  background: none;
  width: 65%;
  text-transform: uppercase;
  transition: 0.2s;
  margin-bottom: 50px;
  color: gray;
  font-size: 0.7rem;
  font-weight: bold;
}
footer .contact {
  display: grid;
}
footer .contact .box {
  position: relative;
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: 0.7rem;
  margin: 20px 0;
  align-items: center;
}
footer .contact .box:first-child {
  align-items: start;
}
footer .contact .box::before {
  content: "";
  position: absolute;
  top: -20px;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
footer .contact .box h5 {
  text-transform: uppercase;
}
footer .contact .box p {
  font-size: 0.7rem;
}
footer .contact .box ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .contact .box ul a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
  font-size: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */